<div class="container">

  <div class="row">
    <div class="col-4">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Favorites
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">

              <div>
                <a class="nav-link" routerLink="/">Inbox</a>
                <a class="nav-link" routerLink="/sent">Sent Items</a>
              </div>

            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              John
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div>
                <a class="nav-link" routerLink="/">Inbox</a>
                <a class="nav-link" routerLink="/">Drafts</a>
                <a class="nav-link" routerLink="/">Deleted Items</a>
                <a class="nav-link" routerLink="/">Sent Items</a>
                <a class="nav-link" routerLink="/">Outbox</a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>



    <div class="col-8">
      <section>
        <div class="container">
          <router-outlet></router-outlet>
        </div>
      </section>
    </div>
  </div>
</div>

